<!-- The Modal Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" id="login-dialog">
            <div class="modal-content" id="login-content" >
                <div class="row">
                    <div class="col-sm-4" id="log-col-4">
                        <div id="ls-reg-Modal">
                            <p id="log-brand">
                                <span class="log-s">$</span>
                                <span class="log-plitter">plitter</span>
                            </p>
                            <span Class="log-split">SPLIT IT UP</span>
                        </div>
                    </div>
                   <div class="log-col6">
                        <%= image_tag("/assets/login/close.png", alt: "close", id: "modal-close", type: "button", class:"close", "data-dismiss":"modal") %>
                        <br/>
                        <p id="log-cont-header">LOGIN</p>
                        <p id="log-para-1">Dont have an account? <a href="#" data-toggle="modal" data-target="#registerModal" data-dismiss="modal" id="log-link1">Create your account,</a><br/>it takes less than a minute.</p>
                       <div class="login-form">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div id="errors" style="color: red;"></div>
                            <div class="form-group">
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"e-mail",  onchange:"hideIcon(this);", Placeholder:"Email"%>
                            </div>

                            <div class="form-group">
                                <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"pwd",  onchange:"hideIcon(this);", Placeholder:"Password"%>
                            </div>
                          <div class="actions">
                            <%= f.submit "Login", class:"login btn btn-warning rounded-pill", id:"log-btn"%>
                          </div>
                        <% end %>
                            <p></p>
                            <%= link_to "Forgot password", edit_user_password_path, id:"log-link2" %>
                      <!--  <div class="login-form">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="e-mail" name="e-mail" onchange="hideIcon(this);" Placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" id="pwd" name="pwd" onchange="hideIcon(this);" Placeholder="Password" style=""/>
                                </div>
                                <button type="submit" class="btn btn-warning rounded-pill" id="log-btn">Login</button>
                            </form>
                            <p></p>
                            <a href="#" id="link2">Forgot password</a>  -->
                            <br/>
                            <p></p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
<!-- End of Modal Login -->
