<!doctype html>
<html lang="en">
  <head>
    <title>Friends</title>
      
    <!-- Bootstrap core CSS -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
      
    <!-- Bootstrap Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr4hv3W_J8l6nID8mdG1YXMBbWa6YbBkA&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

<body id="page-top">
      
  <!-- Page Wrapper -->
  <div class="active" id="wrapper">
      
  <!-- Sidebar -->
      <%= render "friend/fndsidebar" %>
  <!-- End of Sidebar -->
      
  <!-- Profile bar -->            
      <%= render "dashboard/profilebar" %>
  <!-- End of Profile bar -->
      
  <!-- Main Content -->
      <div id="content">
          
  <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

  <!-- Topbar -->
      <%= render "dashboard/navbar" %>
  <!-- End of Topbar -->
    
    <!-- Begin Page Content -->
    <div class="container-fluid" style="">
        
    <!-- Content Row -->
    <br/><br/><br>
        <div class="row" style="margin-left: 23.8%; height: 100%;">
        <div class="column1" style="background-color:rgba(255, 255, 255, 1);" >
        <div class="head1" id="head2" style="">
        <div class="bill-head" style="margin-left: 2%; width: 100%;">    
         <span style="font-family: Raleway; font-weight: 700; font-size: 120%; color: rgba(255, 255, 255, 1);">
            FRIENDS
          </span>
            <span class="btn-group" style="text-align: right; float: right; margin-right: 10px;">
                <button id="btn-1">CREDIT</button>
                <button id="btn-2">DEBIT</button>
                <button id="btn-3">ALL</button>
          </span>
        </div> 
        </div>
      <div class="row2" style="width: 100%; padding: 20px;">
        <span style="font-family: Raleway; font-weight: 400; font-size: 15px; color: rgba(93, 93, 93, 1); ">Select friends to settle up the amount</span>
          <button type="submit" class="btn btn-warning rounded-pill" style="padding: 3px 3px 3px 3px; width: 110px; font-size: 14px; background-color: rgba(227, 174, 32, 1); font-family: Roboto; font-weight: 700; color: rgba(0, 0, 0, 0.06),rgba(0, 0, 0, 1);float: right;" data-toggle="modal" data-target="#settle-up-modal">SETTLE UP</button>
        </div> 
      
      <div class="scroll" style="height: 100%; width: 100%; overflow-y: scroll; margin-top: 5px;">
       <div class="row1" style=" background-color: rgba(242, 242, 242, 1); height: 50px; width:100%;">
        <p  style=" width: 95%; padding: 10px;">
        <span style="font-family: Raleway; font-weight: 700; font-size: 16px; color: rgba(0, 0, 0, 0.8);" id="demo"></span>
        <span> <%= image_tag("/assets/friend/calendar_icon.png", alt: "calender", id: "calender", float: "right") %>
        <!--    <img src="images/dashboard/calendar_icon.png" alt="calender" style="float: right;"> --> </span></p>
    </div>
    <ul id="fndaccordion" style="width: 100%; height: 100%;">
        <li class="card" style="list-style-type:none; margin-left: -40px;">
            <div class="card-header" style="border-radius: 0px; max-height: 90px; background-color: rgba(251, 251,251, 1);">
                <img class="avatar" src="http://placeimg.com/80/80/people">
                <span style="font-family: Raleway; font-weight: 400; margin-left: 20px;">Jane Harper</span>
                <a class="card-link" data-toggle="collapse" href="#collapseOne" style="display: inline-flex; float: right; padding-top: 20px;">
                     <%= image_tag("/assets/friend/expand_icon.png", alt: "expand-icon", id: "expand-icon", float: "right") %>
                   <!-- <img src="images/dashboard/expand_icon.png" alt=" dropdown-btn" id="downrotate"> -->
                </a>
                <span style="font-family: Raleway; font-weight: 700; color: rgba(52,83,130,1); text-align: right; align-items: flex-end;float: right; padding-top: 15px; padding-right: 10px;">$300</span>
            </div>
        <div id="collapseOne" class="collapse show" data-parent="#fndaccordion">
            <div class="card-body" style="background-color: rgba(242, 242, 242, 1); padding-left: 0px;">
                <ul style="list-style-type:none;">
                          <li style="line-height: 0.2;">
                              <p class="card-subhead">
                                <span style="font-family:Raleway; font-weight:400; color: 
rgba(0, 0, 0, 0.87); font-size: 16px;">Food from HCG</span>
                                <span style="font-family:Raleway; font-weight:700; color: 
rgba(52, 83, 130, 1); font-size: 16px; float: right; padding-right: 10px;">Credit</span></p>
                              <p class="card-head">
                                  <span style="font-family:Raleway; font-weight:400; color: 
rgba(0, 0, 0, 0.54); font-size: 14px;">11th July 2016, 5 members</span>
                                  <span style="font-family:Raleway; font-weight:700; color: 
rgba(93, 93, 93, 1); font-size: 18px; float: right; padding-right: 10px;">$50</span></p>
                            </li><br>
                          
                         <li style="line-height: 0.2;">
                              <p class="card-subhead">
                                <span style="font-family:Raleway; font-weight:400; color: 
rgba(0, 0, 0, 0.87); font-size: 16px;">Book tickets</span>
                                <span style="font-family:Raleway; font-weight:700; color: 
rgba(52, 83, 130, 1); font-size: 16px; float: right; padding-right: 10px;">Credit</span></p>
                              <p class="card-head">
                                  <span style="font-family:Raleway; font-weight:400; color: 
rgba(0, 0, 0, 0.54); font-size: 14px;">8th July 2016, 2 members</span>
                                  <span style="font-family:Raleway; font-weight:700; color: 
rgba(93, 93, 93, 1); font-size: 18px; float: right; padding-right: 10px;">$50</span></p>
                            </li><br>
                    
                            <li style="line-height: 0.2;">
                              <p class="card-subhead">
                                <span style="font-family:Raleway; font-weight:400; color: 
rgba(0, 0, 0, 0.87); font-size: 16px;">Shopping from mall</span>
                                <span style="font-family:Raleway; font-weight:700; color: 
rgba(93, 93, 93, 1); font-size: 16px; float: right; padding-right: 10px;">Debit</span></p>
                              <p class="card-head">
                                  <span style="font-family:Raleway; font-weight:400; color: 
rgba(0, 0, 0, 0.54); font-size: 14px;">8th july 2016, 4 members</span>
                                  <span style="font-family:Raleway; font-weight:700; color: 
rgba(93, 93, 93, 1); font-size: 18px; float: right; padding-right: 10px;">$50</span></p>
                            </li>
                    
                      </ul>
                  </div>
            </div>
        </li></ul></div></div>  
     <div class="column2" style="background-color:rgba(255, 255, 255, 1);" >
        <div class="head2" id="head1" style="">
        <div class="bill-head" style="width: 100%;">    
         <form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
                    <span class="fa fa-search form-control-feedback" style="float: left;display: flex; color:white; background-color: white;"></span>
                <!--    <span class="glyphicon glyphicon-search form-control-feedback" style="float: left;display: flex;"></span> -->
            		<input type="text" class="form-control" name="search" id="search" placeholder="Search for a friend" style="padding-left: 40px; color:white;">
              		
            	</div>
            </form>
        </div> 
        </div>
          <div class="row2" style="width: 100%; padding: 10px; background-color: rgba(242, 242, 242, 1);">
        <span style="font-family: Raleway; font-weight: 500; font-size: 15px; color: rgba(93, 93, 93, 1);">Search for a new friend to your friend’s list. Use their email ID for search.</span>
  </div>
    </div>
    </div>
    <!-- /.container-fluid -->
    
    </div>
  <!-- End of Main Content -->

      </div>
  <!-- End of Content Wrapper -->
      
  <!-- Footer -->
      <footer class="sticky-footer bg-light" id="dash-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto" id="dash-footer-st">
                <span id="dash-ls-footer">Privacy and terms</span>
                <span id="dash-rs-footer">&#169; 2013-2016 . All rights reserved.</span>
              </div>
            </div>
      </footer>
      <!-- End of Footer -->
      
      </div>
  <!-- End of Page Wrapper -->
      
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
      
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }   
  </script>  
      
  <script>
    document.getElementById("demo").innerHTML = formatAMPM();

    function formatAMPM() {
    var d = new Date(),
        minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
        hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
       // else if (condition2) { return value2; }
        //else if (condition3) { return value3; 
       // ampm = d.getHours() >=12 ? 'st' : 'th',
        ampm = d.getHours() >=12 ? '' : 'th',
        //ampm = d.getHours() >= 12 ? 'pm' : 'am',
        months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
        days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
    return d.getDate()+ampm+' '+months[d.getMonth()]+' '+d.getFullYear();
    }
  </script>
      <%= render "friend/settleup" %>
  </body>
  </html>